*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#223;
}

h1,h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #999;
    margin-bottom: 1rem;
}

header ul{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    background-color: crimson;
}

header ul li{
    list-style: none;
    padding:2rem;
}

header ul li:hover{
    background: rgb(184, 73, 95);
}

header ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(88, 76, 76);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

main{
    margin: 2rem;
}

input{
    width: 500px;
    height: 40px;
}

input::placeholder{
    font-size: 1.4rem;
    padding-left: 1rem;
}

button{
    width: 90px;
    height: 40px;
    margin: 0 1rem 0;
    font-size: 1.2rem;
}

.form-artefacto  {
    display: flex;
    flex-direction: row;
}

section{
    color: white;
    margin-top: 3rem;
    font-size: 2rem;
}